<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


<div class="banner" style="background: linear-gradient(-225deg, rgba(0,172,140,0.6) 50%, rgba(0,36,61,0.6) 50%)">
  <div class="title">
    <h1>Restaurants</h1>
    <p>Index des restaurants</p>
  </div>

</div>

<div class="text-right">
  <button type="button" class="btn btn-outline-success btn-lg">
    <%= link_to 'New', new_restaurant_path %>
  </button>
</div>


<div class="text-center">
  <% @restaurants.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>


  <% end %>
</div>
